.App {
  background-image: url(../public/lightsky.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Inconsolata", monospace;
  top: 0;
  left: 0;
  height: 100%;
}

.App h1 {
  font-family: "WindSong", cursive;
  font-size: 36px;
  color: #fff;
  padding: 10px;
  line-height: 2;
}

.App hr {
  border: 1.5px #fff solid;
}
